.react-calendar {
  width: auto;
}

.react-calendar .react-calendar__tile {
  border: 1px solid black;
}

.APODImage {
  width: 100%;
}

.apodImageContainer {
  width: 100%;
}

.APODImage img {
  max-width: 100%;
  max-height: 180px;
}