.App {
    text-align: center;
}

button {
    background-color: #4E2EE1;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #6045d5;
}

button:disabled {
    pointer-events: none;
    background-color: #999999;
}
