.App {
    text-align: center;
}

.AppHeader ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.AppHeader li {
    display: inline;
    margin: 0 30px;
}

$primaryColor: #4E2EE1;
$navBarHeight: 48px;

.navBar {
    background-color: $primaryColor;
    top: 0;
    color: white;
    height: $navBarHeight;
}

.navBar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: $navBarHeight;
}
