$primaryColor: #4E2EE1;

.imageList {
  padding: 20px;
}

@media only screen and (min-width: 600px) {
  .imageList {
    text-align: left;
  }
}

div.Image {
  margin: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  width: 180px;
  height: 300px;
  background-color: white;
  z-index: 1;
}

div.Image:hover {
  border: 1px solid #777;
}

div.Image img {
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.imageContainer {
  height: 180px;
}

.imageHelper {
  vertical-align: middle;
  height: 100%;
  display: inline-block
}

.imageContainer span { /*CSS for enlarged image*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  width:70vh;
  opacity: 0;
  transition: 0.5s;
  text-decoration: none;
  z-index: initial;
}

.imageContainer span img { /*CSS for enlarged image*/
  border-width: 0px;
  width: 65vh;
  padding: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageContainer:hover span { /*CSS for enlarged image on hover*/
  opacity: 1;
  pointer-events: none;
}

#overlay {
  position: fixed;
  width: 300vh;
  height: 300vh;
  left: 0;
  top: 0;
  margin-left: calc(-100vw + 50%);
  margin-top: calc(-100vh + 50%);
  background: rgba(51, 51, 51, 0.7);
  z-index: -3;
  pointer-events: none;
}

